<!-- HEADER UPTO AND INCLUDING THE <BODY> -->
<?php require '../../partials/page-header.php' ?>

<!-- MAKE AN API CALL SO WE CAN GET THE RESPONSE HEADERS -->
<?php $__format = $_GET['format']; ?>

<?php
$formatIsValid = true;
try {
    $format = $_zamzar->formats->get($__format);
} catch (\Zamzar\Exception\ApiErrorException $e) {
    $formatIsValid = false;
}
?>

<!-- NAVBAR (OUTPUTS INFORMATION FROM THE RESPONSE HEADERS) -->
<?php require '../../partials/navbar.php' ?>

<!-- CONTENT HEADER -->
<?php require '../../partials/content-header.php' ?>

<!-- THIS PAGE'S CONTENT -->
<div class="block">
    <h1><?= $__format ?></h1>
    <div class="box">
        <?php if($formatIsValid) { ?>
            <p>
                <table>
                    <thead>
                        <th>
                            Convert To
                        </th>
                        <th>
                            Credit Cost
                        </th>
                    </thead>
                    <tbody>
                        <?php foreach($format->getTargets() as $targetFormat) { ?>
                        <tr>
                            <td><a href="format.php?format=<?= $targetFormat->getName(); ?>"><?= $targetFormat->getName(); ?></a></td>
                            <td><?= $targetFormat->getCreditCost(); ?></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </p>
        <?php } else { ?>
            <p>
                <?= $__format ?> does not have any conversion formats ?>
            </p>
        <?php } ?>    
    </div>
</div>

<!-- CONTENT FOOTER -->
<?php require '../../partials/content-footer.php' ?>

<!-- PAGE FOOTER (CLOSE THE BODY AND HTML TAGS) -->
<?php require '../../partials/page-footer.php' ?>
