<!-- HEADER UPTO AND INCLUDING THE <BODY> -->
<?php require '../../partials/page-header.php' ?>

<!-- MAKE AN API CALL SO WE CAN GET THE RESPONSE HEADERS -->
<?php
    if(array_key_exists('after', $_GET)) {
        if(!is_null($_GET['after'])) {
            $files = $_zamzar->files->all([
                'after' => $_GET['after'],
                'limit' => $_GET['limit']
            ]);        
        }
    } elseif (array_key_exists('before', $_GET)) {
        if (!is_null($_GET['before'])) {
            $files = $_zamzar->files->all([
                'before' => $_GET['before'],
                'limit' => $_GET['limit']
            ]);        
        }
    } else {
        $files = $_zamzar->files->all(['limit' => 15]);
    }
    if(property_exists($files->paging, "last")) {
        $_nextPage = "allfiles.php?after=" . $files->paging->last . '&limit=' . $files->paging->limit;
    }
    if(property_exists($files->paging, "first")) {
        $_previousPage = "allfiles.php?before=" . $files->paging->first . '&limit=' . $files->paging->limit;
    }
?>

<!-- NAVBAR (OUTPUTS INFORMATION FROM THE RESPONSE HEADERS) -->
<?php require '../../partials/navbar.php' ?>

<!-- CONTENT HEADER -->
<?php require '../../partials/content-header.php' ?>

<!-- CONTEXT BUTTONS -->
<button class="button is-normal is-outlined is-pulled-right" onclick="deleteFiles();">
    <span class="icon is-small">
        <i class="far fa-trash-alt"></i>
    </span>
</button>

<!-- THIS PAGE'S CONTENT -->
<div class="block">
    <h1>Files</h1>
    <div class="box">
        <p>
            <table class="table is-striped is-narrow is-hoverable is-fullwidth is-size-6">
                <thead>
                    <th><label class="checkbox"><input type="checkbox" data-fileid=0 id="check_all"></label></th>
                    <th>FileId</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Format</th>
                    <th>Created At</th>
                </thead>
                <tbody>
                    <?php foreach($files->data as $file) { ?>
                    <tr>
                        <td><label class="checkbox"><input type="checkbox" data-fileid="<?= $file->getId()?>"></label></td>
                        <td><a href="file.php?id=<?= $file->getId(); ?>"><?php echo $file->getId(); ?></a></td>
                        <td><?php echo $file->getName(); ?></td>
                        <td><?php echo $file->getSize(); ?></td>
                        <td><?php echo $file->getFormat(); ?></td>
                        <td><?php echo $file->getCreatedAt(); ?></td>
                    </tr>
                    <?php } ?>
            </tbody>                                
            </table>

        </p>
    </div>
</div>

<!-- PAGING BUTTONS -->
<?php require '../../partials/paging-buttons.php' ?>

<!-- CONTENT FOOTER -->
<?php require '../../partials/content-footer.php' ?>

<!-- PAGE FOOTER (CLOSE THE BODY AND HTML TAGS) -->
<?php require '../../partials/page-footer.php' ?>
