<!-- HEADER UPTO AND INCLUDING THE <BODY> -->
<?php require '../../partials/page-header.php' ?>

<!-- MAKE AN API CALL SO WE CAN GET THE RESPONSE HEADERS -->
<?php $__fileid = $_GET['id']; ?>

<?php 
    $__file_exists = true;
    try {
        $file = $_zamzar->files->get($__fileid); 
    } catch (\Zamzar\Exception\InvalidResourceException $e) {
        $__file_exists = false;
    }
?>

<!-- NAVBAR (OUTPUTS INFORMATION FROM THE RESPONSE HEADERS) -->
<?php require '../../partials/navbar.php' ?>

<!-- CONTENT HEADER -->
<?php require '../../partials/content-header.php' ?>

<!-- THIS PAGE'S CONTENT -->
<?php if($__file_exists) { ?>
<div class="block">
    <h1><?= $file->getName() ?></h1>
    <div class="box">
        <p>
            <table>
                <tbody>
                    <tr>
                        <td>File Id</td>
                        <td><?= $file->getId(); ?></td>
                    </tr>
                    <tr>
                        <td>Api Key</td>
                        <td><?= $file->getKey(); ?></td>
                    </tr>
                    <tr>
                        <td>Endpoint</td>
                        <td><a href="<?= $file->getEndpoint(); ?>" target="_blank"><?= $file->getEndpoint(); ?></a></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><?= $file->getName(); ?></td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td><?= $file->getSize(); ?></td>
                    </tr>
                    <tr>
                        <td>Format</td>
                        <td><?= $file->getFormat(); ?></td>
                    </tr>
                    <tr>
                        <td>Created At</td>
                        <td><?= date( "d M Y H:i:s", strtotime($file->getCreatedAt())); ?></td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>

<h3>Actions</h3>

<button class="button is-light" onclick='getFileContent(<?= $__fileid ?>)'>
    <span>Download File</span>
    <span class="icon is-small">
        <i class="fas fa-download"></i>
    </span>
</button>

<button class="button is-light" onclick='deleteFile(<?= $__fileid ?>)'>
    <span>Delete File</span>
    <span class="icon is-small">
        <i class="fas fa-trash"></i>
    </span>
</button>
<?php } else { ?>
    <div class="notification is-danger">
        The requested file no longer exists
    </div>
<?php } ?>

<!-- CONTENT FOOTER -->
<?php require '../../partials/content-footer.php' ?>

<!-- PAGE FOOTER (CLOSE THE BODY AND HTML TAGS) -->
<?php require '../../partials/page-footer.php' ?>
