<!-- HEADER UPTO AND INCLUDING THE <BODY> -->
<?php require '../../partials/page-header.php' ?>

<!-- MAKE AN API CALL SO WE CAN GET THE RESPONSE HEADERS -->
<?php $_zamzar->testConnection(); ?> 

<!-- NAVBAR (OUTPUTS INFORMATION FROM THE RESPONSE HEADERS) -->
<?php require '../../partials/navbar.php' ?>

<!-- CONTENT HEADER -->
<?php require '../../partials/content-header.php' ?>

<!-- CONTEXT BUTTONS -->

<!-- THIS PAGE'S CONTENT -->
<div class="block">
    <h1>Upload a File</h1>
    <div class="box">
      
      <form method="post" enctype="multipart/form-data">

        <div class="field">
            <div class="file has-name is-fullwidth">
                <label class="file-label">
                    <input class="file-input" type="file" name="files[]" id="fileupload" multiple>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label" id="filelabel">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name" id="filename">
                    ...
                  </span>
                </label>
              </div>
        </div>
  
        <br/>
      </form> 
  
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-light" name="submit" onclick="uploadFile();">Upload</button>
            </div>
        </div>

      </div>
    <br/>
</div>

<!-- CONTENT FOOTER -->
<?php require '../../partials/content-footer.php' ?>

<!-- PAGE FOOTER (CLOSE THE BODY AND HTML TAGS) -->
<?php require '../../partials/page-footer.php' ?>
