<!-- HEADER UPTO AND INCLUDING THE <BODY> -->
<?php require '../../partials/page-header.php' ?>

<!-- MAKE AN API CALL SO WE CAN GET THE RESPONSE HEADERS -->
<?php $__importid = $_GET['id']; ?>
<?php $import = $_zamzar->imports->get($__importid); ?>

<!-- NAVBAR (OUTPUTS INFORMATION FROM THE RESPONSE HEADERS) -->
<?php require '../../partials/navbar.php' ?>

<!-- CONTENT HEADER -->
<?php require '../../partials/content-header.php' ?>
    
<!-- THIS PAGE'S CONTENT -->
<div class="block">
    <h1>Import ID <?= $__importid ?></h1>
    <div class="box">
        <p>
            <table>
                <tbody>
                    <tr>
                        <td>Import Id</td>
                        <td><?= $import->getId(); ?></td>
                    </tr>
                    <tr>
                        <td>Api Key</td>
                        <td><?= $import->getKey(); ?></td>
                    </tr>
                    <tr>
                        <td>Endpoint</td>
                        <td><a href="<?= $import->getEndpoint(); ?>" target="_blank"><?= $import->getEndpoint(); ?></a></td>
                    </tr>
                    <tr>
                        <td>Url</td>
                        <td><?= $import->getUrl(); ?></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><?= ucwords($import->getStatus()); ?></td>
                    </tr>
                    <?php if($import->hasFailure()) { ?>
                    <tr>
                        <td>Failure</td>
                        <td><?= (string) (string) $import->getFailure(); ?></td>
                    </tr>
                    <?php } ?>
                    <?php if($import->hasFile()) { ?>
                    <tr>
                        <td>File</td>
                        <td><a href="../files/file.php?id=<?= $import->getFile()->getId(); ?>"><?= $import->getFile()->getName() ?></a></td>
                    </tr>
                    <?php } ?>
                    <tr>
                        <td>Created At</td>
                        <td><?= date( "d M Y H:i:s", strtotime($import->getCreatedAt())); ?></td>
                    </tr>
                    <?php if($import->hasFile()) { ?>
                    <tr>
                        <td>Finished At</td>
                        <td><?= date( "d M Y H:i:s", strtotime($import->getFinishedAt())); ?></td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
        </p>
    </div>
</div>

<!-- CONTENT FOOTER -->
<?php require '../../partials/content-footer.php' ?>

<!-- PAGE FOOTER (CLOSE THE BODY AND HTML TAGS) -->
<?php require '../../partials/page-footer.php' ?>
