<?php require '../../partials/head.php' ?>

<?php require '../../partials/nav.php' ?>

<section>

    <div class="container">
        
        <div class="columns is-12">
    
            <?php require '../../partials/menu.php'; ?>

            <div class="column is-three-quarters">

                <div class="content">
                    <div class="block">
                        <h1>Connect to the Zamzar API</h1>
                        <p>
                            Connect to the API using your API key which can be found on the <a href="https://developers.zamzar.com" target="_blanl">Developers Dashboard</a>
                            <br/><br/>
                            <div class="columns">
                                <div class="column is-6">
                                    <input id="apikey" class="input" placeholder="Enter your API key" value="<?= $_apiKey ?>"/>
                                </div>
                                <div class="column is=6">
                                    <button class="button is-dark" id="connect" onclick="document.location='/views/account/account.php?apikey='+document.getElementById('apikey').value;">Connect</button>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

    </div>

</section>

</body>

</html>