<!-- HEADER UPTO AND INCLUDING THE <BODY> -->
<?php require '../../partials/page-header.php' ?>

<!-- MAKE AN API CALL SO WE CAN GET THE RESPONSE HEADERS -->
<?php $account = $_zamzar->account->get(); ?>

<!-- NAVBAR (OUTPUTS INFORMATION FROM THE RESPONSE HEADERS) -->
<?php require '../../partials/navbar.php' ?>

<!-- CONTENT HEADER -->
<?php require '../../partials/content-header.php' ?>

<!-- THIS PAGE'S CONTENT -->
<div class="block">

    <h1>Zamzar Account Information</h1>

    <div class="box">
        <p>
            <table>
                <tr>
                    <tr>
                        <td>Plan Name</td>
                        <td><?= $account->getPlan()->getPlanName(); ?></td>
                    </tr>
                    <tr>
                        <td>Price Per Month</td>
                        <td><?= $account->getPlan()->getPricePerMonth(); ?></td>
                    </tr>
                    <tr>
                        <td>Conversions Per Month</td>
                        <td><?= $account->getPlan()->getConversionsPerMonth(); ?></td>
                    </tr>
                    <tr>
                        <td>Maximum File Size</td>
                        <td><?= $account->getPlan()->getMaximumFileSize(); ?></td>
                    </tr>
                </tr>
            </table>
        </p>
    </div>
</div>

<!-- CONTENT FOOTER -->
<?php require '../../partials/content-footer.php' ?>

<!-- PAGE FOOTER (CLOSE THE BODY AND HTML TAGS) -->
<?php require '../../partials/page-footer.php' ?>
